body {

   /* margin:40px auto;
    max-width:750px;
    line-height:1.6;
    font-size:18px;
    //color:#DC143C;
    //padding: 10px*/

  	//padding-left: 11em;
    max-width:800px;
    margin:auto;
  	font-family: Georgia, "Times New Roman",
          Times, serif;
    font-size:19px;
    line-height:1.5;
    color: black;
    background-color: white

    
}

h1 {color: white;
    //font-family:  Garamond, Geneva, Arial,
          SunSans-Regular, sans-serif;
          font-size: 50px;
          width: 800px;
          padding : 30px;
          margin: 0em, 0em, 10em, 20em;
          background-color: teal;
        text-shadow: 2px 2px 5px black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
h2,h3{color: #003399;}
h2{  text-shadow: 1px 1px 1px darkcyan}
ul.navbar {
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 2em;
    left: 1em;
    width: 9em }
ul.navbar li {
    background: #d8da3d ;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
.center {text-align: center;}
.right {text-align: right;}
.code {font-size: 10pt;background-color: #DAF0F0;}

cite {font-style: italic; font-weight: bold;}

figure.data {text-align: center; //background: #E4FFFF;
        width: 750px;
        //border: 15px solid green;
        padding: 30px;
        margin: 15px;
        }
figure.models {text-align: center; //background: #E4FFFF;
        width: 750px;
        //border: 15px solid green;
        padding: 30px;
        margin: 15px;
        }
img.data{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin: 10px;
}
figcaption{
//font-variant: small-caps;
font-style: italic;
font-size:12pt;
    font-weight: bold;}

pre.info {
          background-color: #DAF0F0
          }
